  /*
    Global reset
    see: http://is.gd/cw66J
  */
* {
vertical-align: baseline;
font-weight: inherit;
font-family: inherit;
font-style: inherit;
font-size: 100%;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}
  
  /*
    Layout.
        1 col = 60px
        1 gutter = 20px
        
        2 col = 140px
        3 col = 220px
        5col = 
        12 col = 940px
  */

#page {
width: 1000px;
margin: 0 auto;
}
  
  #content {
min-width: 640px;
max-width: 1000px;
}
  
  
  #content {
clear: left;
}
  
  /*
    General styles
  */
  body {
font-family: Helvetica, Arial, sans-serif;
padding: 0;
margin: 0;
}
  
  body.grid {
background-color: #fff;
}

  
  ul.reset,
  ul.reset li {
padding: 0;
margin: 0;
list-style: none;
}

  #footer,
  .clear {
clear: both;
}
  
  #content {
margin: 0;
padding: 0;
}

#footer {
  margin-top: 20px;
  margin-right: 10px;
  text-align: right;
  font-size: 12px;
}
  
  #content ul {
margin: 0;
padding: 0;
}
  
  /*
    Masthead visual
  */ 
  
  #masthead {
margin: 0;
position: relative;
font-size: 12px;
width: 1000px;
padding: 0;
overflow: hidden;
}
  #masthead a {
text-decoration: none;
}
  
  #masthead #logotype {
float: left;
height: 220px;
width: 200px;
clear: none;
background: transparent url('/img/logotype.png') no-repeat;
}

  
#masthead #logotype span {
  position: absolute;
  top: 45px;
  left: 20px;
  width: 100px;
  
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;

  text-decoration: none;
  color: #000;
}
  
#masthead #about {
margin: 10px 0 30px 360px;
padding: 40px 0 40px 0;
width: 550px;
clear: none;
font-size: 14px;
line-height: 1.4;
font-weight: bold;
}
  
  #masthead #about h2,
  #masthead #sponsors h2 {
font-size: 20px;
margin-bottom: 5px;
font-weight: bold;
}

 
  #masthead #about a.more-info {
float: right;
margin: 10px 0 0 0;
font-weight: bold;
color: #000;
text-decoration: none;
}

  #masthead #about a:hover.more-info {
text-decoration: underline;
}

  .js #masthead #about .more {
    display: none;
  }

  #masthead #about p {
    padding-bottom: 10px;
  }
  
  #masthead #sponsors {
}

  
  #sponsors ul li img {
width: 300px;
}
  
  /*
    Homepage content
  */    

#artists {
margin: 0 0 20px;
overflow: auto;
}


#artists li a,
#sponsors li a {
display: block;
padding: 10px 12px;
min-height: 80px;
float: left;
margin: 0 2px 11px 0;
width: 140px;
overflow: hidden;
position: relative;
text-decoration: none;
}

#artists li a:hover,
#sponsors li a:hover {
display: block;
padding: 10px 12px;
background: #9BC500;
}
  
#sponsors li a {
width: 300px;
margin: 0 9px 11px 0;
}

#content #artists h2,
#content #sponsors h2 {
border-bottom: 1px solid #A4BE2B;
font-size: 20px;
font-weight: bold;
margin: 0;
padding: 0 10px 5px;
}
  
  #content #artists li a h3 {
text-decoration: none;
color: #000;
margin-bottom: 5px;
font-weight: bold;
}

  #content #artists li a:hover h3 {
color: #000;
}
  
  #artists li img {
padding: 0;
margin: 0;
}
  
  
  /*
    Event call-out
  */
  #content .event {
position: absolute;
top: 36px;
left: 15px;
line-height: 1.25;
}
  
#artists span.type,
#artists span.date,
#artists span.desc,
#artists span.place {
display: inline;
width: auto;
background-color: rgba(160,160,160,0.7);
color: #fff;
padding: 3px 5px;
margin: 3px 0;
font-size: 13px;
}

#artists span.type {
font-weight: bold;
}
  
#artists a:hover span.type,
#artists a:hover span.date,
#artists a:hover span.desc,
#artists a:hover span.place {
display: inline;
width: auto;
background: #9BC500;
color: #fff
}

#navigation {
width: 150px;
float: left;
}

#navigation ul {
list-style: none;
}


#navigation h2 {
font-weight: bold;
font-size: 20px;
padding: 5px 10px;
}

#navigation .artists,
#navigation .partners {
border-right: 1px solid #a3be4a;
margin-bottom: 20px;
}

#navigation .venues li,
#navigation li a {
display: block;
color: #000;
text-decoration: none;
padding: 12px 10px 10px 10px;
font-size: 14px;
font-weight: bold;
}


#navigation li a:hover,
#navigation li a.selected {
background: #a3be4a;
font-weight: bold;
color: #000;
}

#navigation li a .with,
#navigation li .location {
  display: block;
  font-size: 12px;
}


#artist {
width: 840px;
margin-left: 160px;
}

#artist h2 {
font-weight: bold;
font-size: 24px;
padding: 5px 0;
}

#artist h2 .with {
  font-weight: normal;
  font-size: 20px;
}


#artist #description {
width: 200px;
float: left;
font-size: 12px;
line-height: 1.3;
}


#artist #description p {
/* font-size: 12px; */
margin: 0 10px 10px 0;
}

#artist p.highlight,
#artist p.event-info {
font-size: 12px;
color: #000;
font-weight: bold;
padding: 8px 10px;
margin: 0 10px 10px 0;
background: #a3be4a;
line-height: 1.4;
}

#artist .info {
overflow: hidden;
margin-top:10px;
border-top: 1px solid #a3be4a;
width: 640px;
float: right;
}

#artist p.event-info {
font-size: 14px;
width: 30%;
float: left;
}

#artist p.link {
color: #000;
margin: 10px 10px;
font-size: 14px;
}

#artist p.link a {
color: #000;
text-decoration: none;
}

#artist p.link a:hover {
text-decoration: underline;
}

#artist span.date,
#artist span.place,
#artist span.type,
#artist span.desc {
display: block;
margin: 0 0 2px 0;
}

#artist span.date,
#artist span.place {
font-weight: normal;
font-size: 12px;
}

#artist span.date {
	margin: 2px 0 7px 0;
}

#sponsors p {
font-weight: bold;
margin-bottom: 5px;
color: #000;
}

#sponsors a:hover p {
color: #fff;
}

/*
  Artist page gallery
*/
.js .use-slideshow {
  display: none;
}
.js .slideshow {
  display: block;
}

#gallery {
width: 640px;
float: left;
}

.thumbnails {
list-style: none;
overflow: hidden;
width: 640px;
}

.thumbnails li {
float: left;
margin: 0 10px 6px 0;
}

.thumbnails li a {
opacity: 0.5;
filter: alpha(opacity = 50);
}

.thumbnails li a:hover,
.thumbnails li.selected a {
opacity: 1;
filter: alpha(opacity = 100);
}

.main {
overflow: hidden;
}

.main-slide-container {
position: relative;
/*
min-height: 510px;
max-height: 1000px;
*/
}

.main-slide-container > div {
position: absolute;
height: 1000px;
background: #fff;
}

.main p.title {
margin: 5px 10px 5px 10px;
font-size: 14px;
font-weight: bold;
background: #fff;
display: block;	
}