{{#current_artist}}
<div id="artist">
	<h2>{{name}}{{#with?}}<span class="with"> with {{with}}</span>{{/with?}}</h2>
	<div id="description">
		{{#highlight}}<p class="highlight">{{text}}</p>{{/highlight}}
		<p>{{{bio}}}</p>
	</div> <!-- #description -->
	<div id="gallery" class="use-slideshow">                              
                  <ul class="thumbnails">
                  {{#media_thumbnails}}
                        <li>
                              <a href="#media-{{media_id}}">
                                    <img class="thumb" src="{{thumb_url}}" alt="Thumbnail for {{title}}">
                              </a>
                        </li>
                  {{/media_thumbnails}}
                  </ul>
                  <div class="main">
                  {{#media}}
                        <div id="media-{{media_id}}" class="image">
                              <img width="{{width}}" height="{{height}}" src="{{url}}" alt="{{title}}" title="{{credit}}">
                              <p class="title">{{{title}}}<!--<span class="credit">(&#169; {{credit}})</span>--></p>
                        </div>
                  {{/media}}
                  </div>
      </div>
      <div class="info">
            {{#event}}
            <p class="event-info">
								
                <span class="type">EXHIBTION</span>
                <span class="date">{{date}}</span>
                <span class="desc">{{description}}</span>
                <span class="place">{{venue}}</span>
            </p>
            {{/event}}
            {{#links}}
            <p class="link"><a href="{{url}}">{{text}}</a></p>
            {{/links}}
      </div>
</div> <!-- #artist -->
{{/current_artist}}