 <div id="masthead">
    <a href="/"><h1 id="logotype"><span>{{title}}</span></h1></a>
    {{#about}}
    <div id="about">
       <h2>{{title}}</h2>
       <p>{{tagline}}</p>
       <div class="more">
         {{{more}}}
       </div>
       <a href="#" class="more-info">More info</a>
     </div>
     {{/about}}
</div>