  <div id="navigation">

		<ul class="artists">
			<h2>Artists</h2>
			{{#artists}}
				{{#published?}}
				<li>
					<a href="/artist/{{name_as_url}}"{{#is_selected}} class="selected"{{/is_selected}}>{{name}}{{#with?}} <span class="with">with {{with}}</span>{{/with?}}</a>
				</li>
				{{/published?}}
			{{/artists}}
		</ul>

		<ul class="partners">
			<h2>Project partners</h2>
		  {{#partners}}
			{{#published?}}
			<li><a href="/partner/{{name_as_url}}" {{#is_selected}} class="selected"{{/is_selected}}>{{name}}</a></li>
			{{/published?}}
		  {{/partners}}
		</ul>

		{{#has_published_venues?}}
		<ul class="partners venues">
			<h2>Exhibition partners</h2>
		  {{#venues}}
		  	{{#published?}}
			<li>
				<!-- <a href="/venue/{{name_as_url}}" {{#is_selected}} class="selected"{{/is_selected}}> -->{{name}}{{#location?}} <span class="location">{{location}}</span>{{/location?}}<!-- </a> -->
			</li>
			{{/published?}}
		  {{/venues}}
		</ul>
		{{/has_published_venues?}}

</div> <!-- #navigation -->