{{#current_partner}}
<div id="artist">
	<h2>{{name}}</h2>
      {{#venue?}}
            {{#location?}}<p class="location">{{location}}</p>{{/location?}}
      {{/venue?}}
	<div id="description">
            {{#highlight}}<p class="highlight">{{text}}</p>{{/highlight}}
		<p>{{{description}}}</p>
		{{#links}}
		<p class="link"><a href="{{url}}">{{text}}</a></p>
		{{/links}}
	</div> <!-- #description -->
      <div id="gallery" class="use-slideshow">                              
                  <ul class="thumbnails">
                  {{#media_thumbnails}}
                        <li>
                              <a href="#media-{{media_id}}">
                                    <img class="thumb" src="{{thumb_url}}" alt="Thumbnail for {{title}}">
                              </a>
                        </li>
                  {{/media_thumbnails}}
                  </ul>
                  <div class="main">
                  {{#media}}
                        <div id="media-{{media_id}}" class="image">
                              <img width="{{width}}" height="{{height}}" src="{{url}}" alt="{{title}}" title="{{credit}}">
                              <p class="title">{{{title}}}<!--<span class="credit">(&#169; {{credit}})</span>--></p>
                        </div>
                  {{/media}}
                  </div>
      </div>
</div> <!-- #artist -->
{{/current_partner}}