<div id="sponsors">
    <h2>Supported by</h2>
    <ul class="reset">
      {{#partners}}
      <li>
          <a href="{{url}}">
              {{#logo}}
              <img src="{{url}}" height="{{height}}" width="{{width}}" alt="{{name}}">
              {{/logo}}
          </a>
      </li>
      {{/partners}}
    </ul>
</div>