<div id="sponsors">
    <h2>Supported by</h2>
    <ul class="reset">
      {{#partners}}
        {{#published?}}
        <li>
            <a href="/partner/{{name_as_url}}">
  							<p>{{name}}</p>
                <img src="{{logo}}" height="100" width="300" alt="{{name}}">
            </a>
        </li>
        {{/published?}}
      {{/partners}}
    </ul>
</div>